body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

::-webkit-scrollbar {
    display: none;
}
